
.app {
  width: 80%;
  margin: auto;
}

.item-list {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.item-list td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.item-list tr:nth-child(even) {
  background-color: #dddddd;
}